n8n-workflow-gerar-imagem.json
{
  "name": "Gerar Imagem + Telegram (Pronto para usar)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "gerar-imagem", 
        "responseMode": "responseNode",
        "options": {}
      },
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300],
      "webhookId": "gerar-imagem-webhook"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.stability.ai/v2beta/stable-image/generate/sd3",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {"name": "prompt", "value": "={{ $json.body.prompt }}"},
            {"name": "output_format", "value": "png"},
            {"name": "aspect_ratio", "value": "1:1"}
          ]
        },
        "headerParameters": {
          "parameters": [
            {"name": "Authorization", "value": "Bearer sk-urRtPOimrI7NzSr0uQwcp9sFCsBaJ1VLEUgC6MtPurS398Zc"},
            {"name": "Accept", "value": "image/*"}
          ]
        }
      },
      "name": "Stability AI",
      "type": "n8n-nodes-base.httpRequest", 
      "typeVersion": 4.1,
      "position": [500, 300]
    },
    {
      "parameters": {
        "chatId": "872396939",
        "text": "🎨 Imagem gerada com sucesso!\n\nPrompt: {{ $json.body.prompt }}",
        "additionalFields": {}
      },
      "name": "Telegram",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.1,
      "position": [750, 300],
      "credentials": {
        "telegramApi": {
          "id": "telegram-api",
          "name": "DomBot Credential"
        }
      }
    },
    {
      "parameters": {
        "statusCode": 200,
        "options": {},
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ \"success\": true, \"message\": \"Imagem gerada e enviada para o Telegram!\" }) }}"
      },
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1000, 300]
    }
  ],
  "connections": {
    "Webhook": {"main": [[{"node": "Stability AI", "type": "main", "index": 0}]]},
    "Stability AI": {"main": [[{"node": "Telegram", "type": "main", "index": 0}]]},
    "Telegram": {"main": [[{"node": "Respond to Webhook", "type": "main", "index": 0}]]}
  },
  "settings": {"executionOrder": "v1"},
  "tags": ["ai", "telegram", "automation"],
  "active": false
}
