n8n-workflow-gerar-imagem.json
{
  "name": "Gerar Imagem + Telegram",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "gerar-imagem",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-1",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        250,
        300
      ],
      "webhookId": "gerar-imagem-webhook"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.stability.ai/v2beta/stable-image/generate/sd3",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "name": "prompt",
              "value": "{{ $json.body.prompt }}"
            },
            {
              "name": "output_format",
              "value": "png"
            },
            {
              "name": "aspect_ratio",
              "value": "1:1"
            }
          ]
        },
        "options": {},
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer sk-urRtPOimrI7NzSr0uQwcp9sFCsBaJ1VLEUgC6MtPurS398Zc"
            },
            {
              "name": "Accept",
              "value": "image/*"
            }
          ]
        }
      },
      "id": "http-1",
      "name": "Stability AI",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        500,
        300
      ]
    },
    {
      "parameters": {
        "chatId": "872396939",
        "text": "🎨 Imagem gerada com sucesso!",
        "additionalFields": {}
      },
      "id": "telegram-1",
      "name": "Telegram",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.1,
      "position": [
        750,
        300
      ],
      "credentials": {
        "telegramApi": {
          "id": "1",
          "name": "DomBot"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "respond-1",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1000,
        300
      ]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Stability AI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Stability AI": {
      "main": [
        [
          {
            "node": "Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "pinData": {},
  "versionId": "workflow-v1"
}